In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [10]:
speed = np.array([23,34,12,1,56,78,45,45,45,23,89,66])

In [11]:
x = stats.mode(speed)
print(x)

ModeResult(mode=array([45]), count=array([3]))

In [3]:
df = pd.read_csv('50_Startups.csv')

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [15]:
one_hot_encode = pd.get_dummies(df, columns=['State'])
one_hot_encode.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [12]:
# Importing the SimpleImputer class. 
from sklearn.impute import SimpleImputer
 
# Imputer object using the mean strategy and
# missing_values type for imputation
imputer = SimpleImputer(missing_values = np.nan,
                        strategy ='mean')
 
data = [[12, np.nan, 34], [10, 32, np.nan],
        [np.nan, 11, 20]]
 
print("Original Data : \n", data)
# Fitting the data to the imputer object
imputer = imputer.fit(data)
 
# Imputing the data    
data = imputer.transform(data)
 
print("Imputed Data : \n", data)

Original Data :
 [[12, nan, 34], [10, 32, nan], [nan, 11, 20]]
Imputed Data :
 [[12.  21.5 34. ]
 [10.  32.  27. ]
 [11.  11.  20. ]]

In [ ]:
import numpy as np
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='median')
imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
SimpleImputer()
X = [[np.nan, 2, 3], [4, np.nan, 6], [10, 5, 9]]
print(imp_mean.transform(X))